.calc-header{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    background-color: var(--input-bg);
    min-height: 2.8rem;
    padding: 0rem;
    box-shadow: 0.2rem 0rem 0 0 , 0 0.3rem 0.3rem 0;
}

.calc-s-header >*{
    flex-wrap: 2;
}

.bvp-wrapper{
    margin: auto;
    margin-bottom: calc(var(--nav-size)*3.5);
    width: 30rem;
    padding: 0 0.6rem 0.3rem 0.6rem;
    box-shadow: 0.2rem 0rem 0 0 , 0 0.3rem 0.3rem 0;
    border-radius: var(--border-radius);   
}
.bvp-table{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    padding: 0.3rem;

}
.bvp-price{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    border: none;
    border-radius: 0 ;

}
.bvp-price-first{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    border: none;
    border-top-style: double;
    border-radius: 0 ;

}
.nutri-wrapper{
    margin: auto;
    margin-bottom: calc(var(--nav-size)*3.5);
    max-width: 30rem;
    padding: 0 0.6rem 0.3rem 0.6rem;
    box-shadow: 0.2rem 0rem 0 0 , 0 0.3rem 0.3rem 0;
    border-radius: var(--border-radius);   
}
.nutri-table{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;

    padding: 0 0.6rem 0 0.6rem;
  
}
.nutri-ing{
    justify-self: center;
}
.ing_p{
    display: inline;
}
.ing_b{
    display: inline;
    font-weight: bold;
}