.client-card{

    padding: 0;
    margin: 0;
}
.client-li{
    margin: 0;
    display: grid;
    grid-template-columns: 10% 45% 45%;
    justify-self: center;
    align-items: center;
    padding: 0.3rem;
    margin: auto;
    
}
.c-card{
    position: relative;  
    width: 100%;
    background-color: var(--bg);
    height: 8rem;
    margin: 0;
    padding: 0;
    border: var(--border);
    border-radius: var(--border-radius);
    justify-content: center;
    background: none;
    box-shadow: 0 0.2rem 0.2rem 0 , 0 0.3rem 0.6rem 0;
}
.c-title{
    justify-content: center;
    text-align: center;

}
.cc-more{
    height: 8rem;
    display: flex;
    width: 100%;
    margin-top: 0;
    align-content: center;
    justify-content: center;
}
.cc-order{
    height: 8rem;
    width: 100%;
    margin-top: 0;
    justify-content: center;
    overflow: scroll;
}
.cc-address, .cc-invoice{
    flex: 1;

    justify-content: center;
    padding: 0.7rem;
}
.cc-list > *{
    color: var(--text-color);
    padding: 0.2rem;

}
