.invoice-tb{
    margin: 0;

}
.invoice-tb-th{
    margin-bottom: 0.3rem;
    background-color: var(--bg-accent-light);

}
.invoice-tb-row{
    display:grid;
    grid-template-columns: 0.2fr 1fr 0.5fr 0.7fr 0.7fr;
    column-gap: 0.2rem;
    margin: 0.3rem;
    padding-top: 0.3rem;
    text-align: end;
}
.invoice-tb-data{
    padding: 0 ;
    margin: 0;

}
.invoice-p{
    text-align: end;
    margin: 0;
}
.invoice-div, .invoice-info-div{
    position: relative;
    height: fit-content;
    background-color: var(--bg);
    padding: 0.5rem ;
    border: var(--border);
    border-radius: var(--border-radius);
    background: none;
    box-shadow: 0 0.2rem 0.2rem 0 , 0 0.3rem 0.6rem 0;
}
.invoice-amount-input{
    width: 2rem;
}
.invoice-input{
    width: 12.5rem;
    height: 2rem;
    margin-inline: 0;
    padding: 0.3rem;
    text-align: start;
}
.invoice-wrapper{
    width: 80%;
    max-width: 40rem;
    margin-top: 0.5rem;
    justify-self: center;
}
.invoice-btns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.invoice-btn{
    display: grid;
    text-align: center;
    justify-items: center;
}